@import "partials/variables";
@import "partials/header";

.form-group{
    div{
        margin: 10px 0;
        border: 2px solid lightblue;
    }
}
thead{
    th{
        margin-right: 10px;
    }
}
td, th{
    padding: 15px;
    border: 2px solid lightgray;
}
#cover , #title, #series{
    width: 500px;
}
h1,h2{
    text-align: center;
}
textarea{width: 100%;}

form 
{
    div{
        padding: 15px;
    }
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.comic-details{
    display: flex;
}
.go-back , .add{
    font-size: 1.5rem;
    display: inline-block;
    padding: 5px;
}
.submit{
    input{
        width: 100%;
        text-transform: uppercase;
    }
}